<div class="component" id="playpen">
    <div class="container-content">
        <div class="back" routerLink="/home/en">
            <div class="svg">
                <svg class="arrow-project" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" fill="rgb(94, 234, 212)" width="30px" height="30px" viewBox="0 0 64 64"><defs><style>.cls-1{fill:#1d1d1b;}</style></defs><title>arrow</title><path d="M41.91,24.25c-.81-.31-.94,0-2.5.63S26.16,30.57,18.1,36.82s-5.63,7.37-5.63,7.37c.19.06.94.81,1.63.81s.5-.06,1.5-1.75,1.62-2.81,8.81-8.37S41.6,26,42.47,25.57,42.72,24.57,41.91,24.25Zm9.94-3c-.44-.56-8.8-2.82-9.31-2.12-.88,1.19,2.56,8.62,3.31,9.31S52.29,21.82,51.85,21.25ZM46,25.69c-.5-.62-2.07-4.94-1.88-5.12.53-.54,5.69.87,5.44,1.5S46.54,26.32,46,25.69Z"/></svg>
            </div>
            <p class="name" translate="no">Carmagnola Lucas</p>
        </div>
        <h1 class="titulo">All Projects</h1>
        <table class="projects">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Built with</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Rolling Hot Dogs Web</td>
                  <td>
                    <div>
                        <span class="tecnologia">JavaScript</span>
                        <span class="tecnologia">HTML</span>
                        <span class="tecnologia">CSS</span>
                        <span class="tecnologia">OpenWeatherMap API</span>
                    </div>
                  </td>
                  <td><a href="https://rolling-pancheria.vercel.app/" target="_blank">See project</a></td>
                </tr>
                <tr>
                  <td>Weather App</td>
                  <td>
                    <div>
                        <span class="tecnologia">JavaScript</span>
                        <span class="tecnologia">HTML</span>
                        <span class="tecnologia">CSS</span>
                        <span class="tecnologia">OpenWeatherMap API</span>
                    </div>
                  </td>
                  <td><a href="https://web-clima-rho.vercel.app" target="_blank">See project</a></td>
                </tr>
                <tr>
                    <td>Clinica web</td>
                    <td>
                      <div>
                          <span class="tecnologia">Angular</span>
                          <span class="tecnologia">HTML</span>
                          <span class="tecnologia">CSS</span>
                          <span class="tecnologia">Firebase</span>
                          <span class="tecnologia">TypeScript</span>
                      </div>
                    </td>
                    <td><a href="https://clinica-tp2.web.app/" target="_blank">See project</a></td>
                  </tr>
                <tr>
                    <td>Portfolio Website</td>
                    <td>
                        <div>
                            <span class="tecnologia">Angular</span>
                            <span class="tecnologia">TypeScript</span>
                            <span class="tecnologia">HTML</span>
                            <span class="tecnologia">CSS</span>
                        </div>
                    </td>
                  <td><a href="#" target="_blank">See project</a></td>
                </tr>
                <tr>
                  <td>API Trivia Game</td>
                  <td>
                    <div>
                        <span class="tecnologia">Node.js</span>
                        <span class="tecnologia">Express</span>
                        <span class="tecnologia">TypeScript</span>
                    </div>
                  </td>
                  <td><a href="http://api-preguntados-weld.vercel.app" target="_blank">See project</a></td>
                </tr>
                <tr>
                    <td>Digital lock</td>
                    <td>
                      <div>
                          <span class="tecnologia">Arduino</span>
                          <span class="tecnologia">C++</span>
                          <span class="tecnologia">Tinkercad</span>
                      </div>
                    </td>
                    <td><a href="https://www.tinkercad.com/things/dXqvk3uKDJJ-display-lcd" target="_blank">See project</a></td>
                  </tr>
              </tbody>
        </table>
    </div>
</div>
