.idioma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    position: absolute;
    right: 15px;
    top: 10px;
}
.idioma div {
    display: flex; /* Hace que el contenido dentro de este div también sea flexbox */
    align-items: center; /* Centra verticalmente el texto y el SVG */
    gap: 5px; /* Espaciado entre el texto y el SVG */
}


.idioma svg {
    fill: #94a3b8; 
    transition: fill 0.3s ease;
}

.idioma:hover {
    .flecha{
        fill: #ffffff; 
    }
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #94a3b8;
    width: 70px;
}