.idioma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.idioma div {
    display: flex;
    align-items: center; 
    gap: 5px;
}


.idioma svg {
    fill: #94a3b8; 
    transition: fill 0.3s ease;
}

.idioma:hover {
    .flecha{
        fill: #ffffff; 
    }
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #1a386344;
    width: 75px;
    margin-top: 5px;
    z-index: 1;
}

.vista-menu {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.menu img{
    height: 20px;
    width: 20px;
}
.option:first-child{
    margin-top: 5px;
}
.option{
    margin-bottom: 5px;
}

.component{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    width: 730px;
    padding: 30px;
    padding-left: 5%;
    padding-top: 100px;
    box-sizing: border-box;
    position: sticky; top: 0;
    height: 100vh;
}
p{
    line-height: 1.5;
}

.main h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    padding: 0;
}
.main h2 {
    font-weight: 300;
}

.main p{
    color: rgb(148, 163, 184);
    width: 400px;
    margin-bottom: 60px;
    text-align: start;
}

.info{
    margin-bottom: 20px;
    width: 105px;
    height: 40px;
    background: transparent;
    color: white;
    border: 1px var(--color-2) solid;
    border-radius: 10px;
    font-weight: 600;
}

.info:hover{
    border: 1px rgb(94, 234, 212) solid;
    color: rgb(94, 234, 212);
}

.redes{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    align-items: center;
}

.redes svg {
    fill: #94a3b8; 
    transition: fill 0.3s ease;
}

.redes svg:hover {
    fill: #ffffff; 
}



.container-content{
    display: flex;
    flex-direction: column;
    width: 730px;
    /* padding: 30px; */
    align-items: center;
    box-sizing: border-box;
    padding-top: 100px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #94a3b8;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}

.content p{
    margin-top: 0;
}

.project-archive{
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #94a3b8;
    height: 50px;
}

.project-archive h3 {
    position: relative; 
    border-bottom: 1px solid transparent;
    font-weight: 400;
    padding-left: 3px;
}

.project-archive svg{
    fill: #94a3b8;
}

.project-archive h3:hover{
    border-bottom: 1px solid rgb(94, 234, 212);
    color: rgb(94, 234, 212);
}

.project-archive h3:hover + svg {
    fill: rgb(94, 234, 212);
    width: 45px;
}

.projects{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.project{
    display: flex;
    width: 700px;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.imagen{
    height: 140px;
    width: 40%;
    margin: 0 30px 0 0;
}

.imagen img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contenido-proyecto{
    width: 70%;
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
}


.texto p{
    margin: 0;
    padding: 0;
    color: #94a3b8;
}

.project:hover{
    background-color: rgba(104, 104, 125, 0.088);
    box-shadow: 0px 4px 10px rgba(72, 76, 115, 0.402);
    .name{
        color: rgb(94, 234, 212);
    }
    .arrow{
        fill: rgb(94, 234, 212);
        width: 45px;
    }

}

.tecnologias{
    display: flex;
    gap: 10px;
    padding: 10px 0 0 0;
}

.tecnologia{
    background-color: rgba(45, 212, 191, .1);
    padding: 5px 10px;
    border-radius: 15px;
    color: rgb(94, 234, 212);
    font-size: 14px;
}

.github-project {
    position: absolute;
    top: 15px;
    right: 10px;
    fill: #94a3b8;
}

.github-project:hover{
    fill: #ffffff;
    transform: scale(1.1);
}

.container-video-cerradura{
    height: 80%;
    width: 70%;
    border-radius: 10px;
}

.container-video-cerradura::backdrop {
    background-color: rgba(95, 101, 111, 0.345);
}

.video-cerradura{
    height: 95%;
    width: 100%;
    object-fit: cover;
}






@media (max-width: 1200px){
    .component{
        flex-direction: column;
        align-items: center;
    }
    .main{
        position: relative;
        width: 100%;
        align-items: center;
        padding-top: 50px;
        height: max-content;
    }
    .main p{
        width: 500px;
        margin-bottom: 60px;
        text-align: center;
    }
    .container-content{
        width: 700px;
        align-items: center;
    }
    .content{
        padding: 10px;
    }

    .container-video-cerradura{
        height: 80%;
        width: 90%;
    }
    .video-cerradura{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}


#tabs-example {
    background: #cecece;
    padding: 8px 0 0 0;
  }
  
  .nav {
    list-style: none;
    border-bottom: 1px solid #a0a0a0;
    padding: 10px 10px 0 10px;
    margin: 0; /* Asegura que no haya margen adicional */
  }
  
  .nav li {
    display: inline-block; /* Cambia a inline-block para mejor control */
    margin: 0; /* Elimina márgenes por defecto */
  }
  
  .nav li.active a {
    position: relative;
    z-index: 1;
    bottom: -2px;
    margin-top: -2px;
    background: #eee;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .nav li a {
    display: inline-block; /* Cambia a inline-block */
    text-decoration: none;
    position: relative;
    padding: 7px 50px;
    margin: 0 0 0 -8px; /* Ajusta márgenes si es necesario */
    color: #222;
    background: #d8d7d8;
  
    /* Bordes redondeados estándar */
    border-top-right-radius: 20px 40px;
    border-top-left-radius: 20px 40px;
  
    /* Sombra estándar */
    box-shadow: inset 1px 1px 0 white;
  
    border: 1px solid #a0a0a0;
    border-bottom: 0;
  }
  